<spacer size="16"></spacer>

<wrapper>
	<container>
		<row>
			<columns>
				<h1 class="text-center">Закрытая распродажа<br><small>только для наших подписчиков</small></h1>
			</columns>
		</row>
	</container>
</wrapper>

<!-- main banner -->

<wrapper>
	<container>
		<row>
			<columns class="full-width-image" small="12">
				<a href="https://www.esky.ru/baby/groups/email-sale/" target="_blank"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170426/assets/img/hero__828x564.jpg"></a>
			</columns>
		</row>
	</container>
</wrapper>

<!-- heading, text, button -->

<spacer size="8"></spacer>

<wrapper>
	<container>
<!-- 		<row>
			<columns>
				<h1>Закрытая распродажа<br><small>только для наших подписчиков</small></h1>
			</columns>
		</row> -->
		<row>
			<columns class="article" large="4" small="12">

				<p>С 26 апреля по 3 мая вы можете приобрести товары из разделов "бакалея", "бытовая химия" и "хозяйственные товары" со скидкой 25% по промокоду. Введите промокод при оформлении заказа, и скидка ваша!</p>
				
				<p>Обращаем внимание, что ассортимент товаров, участвующих в акции, ограничен. Перейти на страницу с товарами вы можете по ссылке из этого письма.</p>
				
				<p>Скидка по промокоду не суммируется с другими акциями.</p>

			</columns>
		</row>

		<row>
			<center>
			<columns small="12" large="8"><div class="promo-code">
				<p class="text-center">CP-8DVLP-E5WIVEP</p>
			</div></columns>
			</center>
		</row>

		<spacer size="16"></spacer>

		<row>
			<columns>
				<center><button class="alert small-expanded rounded" href="https://www.esky.ru/baby/groups/email-sale/">›››&ensp; за покупками &ensp;‹‹‹</button></center>				
				<spacer size="8"></spacer>
				<hr>
			</columns>
		</row>
	</container>
</wrapper>