<div class="poll-filler-wrapper">
	<wrapper class="no-padding">
		<container>
				<wrapper>
					<container>
						<spacer size="32"></spacer>

						<row><columns><div class="poll-title">Заголовок опросника</div></columns></row>

						<row><columns><div class="poll-body">
							<img src="http://placehold.it/720x440/eeeeee/eeeeee">
						</div></columns></row>

						<row><columns><div class="poll-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat riatur?</div></columns></row>

						<row>
							<columns>
								<div class="poll-body-last">
								<center>
									<button class="secondary expanded rounded" href="#">the more likely option</button>
									<button class="secondary expanded rounded" href="#">the second option</button>
									<button class="secondary expanded rounded" href="#">option # 3</button>
									<button class="secondary expanded rounded" href="#">who cares, anyway?</button>
								</center>			
								</div>
							</columns>
						</row>

						<spacer size="32"></spacer>
					</container>
				</wrapper>
			</div>
		</container>
	</wrapper>
</div>