<spacer size="16"></spacer>

<!-- main banner -->

<wrapper>
	<container>
		<row>
			<columns class="full-width-image" small="12">
				<a href="http://www.esky.ru/baby/groups/mail-rosmen17/"><img class="float-center" src="{{root}}assets/img/email-layout__hero-template.jpg"></a>
			</columns>
		</row>
	</container>
</wrapper>

<!-- heading, text, button -->

<spacer size="0"></spacer>

<wrapper>
	<container>
		<row>
			<columns>
				<div><h1>Неделя издательства Росмэн</h1></div>
			</columns>
		</row>
		<row>
			<columns class="article" small="12">
				
				<p>Знаете ли вы, как образуются горы, чем минивэн отличается от универсала, что помидор – близкий родственник картофеля и как закончилась история ленивого мышонка? А ваши дети знают!</p>

				<p>С познавательными, обучающими и увлекательными книжками издательства Росмэн малыши быстрее научатся говорить, читать и считать, сделают много открытий, увлекутся науками и обязательно полюбят стихи и сказки!</p>

				<p>С 17 по 23 апреля на книги издательства Росмэн действует скидка 10%. Просто введите в корзине промокод из этого письма. Помните, что промокод не распространяется на товары, на которые уже действуют другие скидки или акции.</p>

			</columns>
		</row>

		<row>
			<center>
			<columns small="12" large="8"><div class="promo-code">
				<p class="text-center">CP-TBRJ5-DYQ7PRJ</p>
			</div></columns>
			</center>
		</row>

		<spacer size="16"></spacer>

		<row>
			<columns>
				<center><button class="expanded rounded" href="http://www.esky.ru/baby/groups/mail-rosmen17/">Купить книги</button></center>
				
				<spacer size="16"></spacer>
				<hr>
			</columns>
		</row>

	</container>
</wrapper>