<div class="alert-filler-wrapper">
	<wrapper class="no-padding">
		<container>
				<wrapper>
					<container>
						<spacer size="32"></spacer>

						<row><columns><div class="alert-title">Уважаемые клиенты!</div></columns></row>

						<row>
							<columns>
								<a href="https://yandex.ru/maps/-/C6ubBBjH"><img src="http://www.esky.ru/upload/image/email/2017/20170516/assets/img/map-nn.jpg"></a>
							</columns>
						</row>
						<row>
							<columns>
								<div class="alert-body article">

									<p>Пункт выдачи заказов интернет-магазина Еsky.ru в Нижнем Новгороде по адресу: улица Родионова, дом 197, корпус 2, прекращает свою работу.</p>

									<p><strong>Заказы с доставкой в этот пункт выдачи заказов принимаются до 10:00 31 мая 2017 г.</strong></p>

									<p>Все принятые заказы будут доставлены в срок в соответствии с условиями доставки. Забрать заказы вы сможете в обычном режиме по 7 июня 2017 г. включительно.</p>

									<p>Возврат товара осуществляется в пункт выдачи заказов до 7 июня 2017 г. Претензии по качеству принимаются колл-центром и обязательно будут удовлетворены в соответствии с действующим законодательством.</p>

									<p>С 31 мая 2017 г. вы можете сделать заказ в Esky, оформив доставку на дом курьерской службой DPD, через сеть постаматов Pick Point или пункты выдачи Boxberry.</p>

								</div>

								<div class="alert-body">
									<hr>
									<p class="text-right">Рады быть вам полезными.<br>Ваша команда Esky.ru</p>
									<spacer size="16"></spacer>
								</div>

							</columns>
						</row>
						<row>
							<columns>
								<div class="alert-body-last">
								<center>
									<button class="alert small-expanded radius" href="http://www.esky.ru">На сайт</button>
								</center>			
								</div>
							</columns>
						</row>

						<spacer size="32"></spacer>
					</container>
				</wrapper>
			</div>
		</container>
	</wrapper>
</div>

