<spacer size="16"></spacer>

<!-- heading -->

<!-- list of offers -->

<wrapper>
	<container>

		

		<!-- row # 1 -->

		<row>

			
			
			<!-- offer # 1 - 2 -->

			<columns large="6" small="12">

				<img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170518/assets/img/gudyma-1.jpg">
				<spacer size="8"></spacer>
				<div class="description"><p class="text-center">июль 2016</p></div>
				<!-- <spacer size="12"></spacer> -->

			</columns>

			<!-- offer # 2 - 2 -->

			<columns large="6" small="12">

				<img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170518/assets/img/gudyma-2.jpg">
				<spacer size="8"></spacer>
				<div class="description"><p class="text-center">2017 год</p></div>
				<!-- <spacer size="12"></spacer> -->

			</columns>
			

		</row>

		
		
		<!-- <hr> -->
	
	</container>
</wrapper>

<!-- <spacer size="16"></spacer> -->
