<spacer size="16"></spacer>
<spacer class="hide-for-large" size="8"></spacer>

<!-- main banner -->

<!-- <wrapper>
	<container>
		<row>
			<columns class="full-width-image" small="12">
				<img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170518/assets/img/small-hero.jpg">
			</columns>
		</row>
	</container>
</wrapper> -->

<!-- heading, text, button -->

<spacer size="8"></spacer>

<wrapper>
	<container>
		<row>
			<columns>
				<em>
				<div class="heroes"><h1 class="text-center">Героям, побеждающим рак, нужна помощь!</h1></div>
				<!-- <h2><small>совместный проект фонда «Настенька»<br>и интернет-магазина Ескай.ру</small></h2> -->
				</em>
			</columns>
		</row>
		<row>
			<columns class="article" small="12">

				<p><strong>Вот уже два с половиной года проект «Маленьким героям» помогает малышам, находящимся на лечении в НИИ детской гематологии и онкологии им. Блохина, и их родителям.</strong></p>

				<p>За это время подгузники, салфетки, стиральные порошки, детские книжки и наборы для творчества, купленные участниками проекта, пригодились сотням маленьких пациентов, многие из которых – выздоровели!</p>				

				<p><strong>В их числе Саша Гудыма</strong>, в начале 2016 года госпитализированный с диагнозом остеосаркома, а на сегодняшний момент полностью здоровый мальчишка.</p>

				{{> _gallery-1}}

				<p><strong>Среди них и маленькая Настенька Короватая</strong>, поступившая в больницу в возрасте двух недель с нейробластомой, раком 4 стадии. Сейчас девочке годик, и она ничем не отличается от здоровых сверстников!</p>

				{{> _gallery-2}}

				<p>Вы можете помочь другим детишкам прямо из этого письма: просто выберите сумму, а мы оформим корзину с необходимыми товарами и доставим ее в больницу. Вам останется только подтвердить заказ.</p>

				{{> _poll}}

				<p>На страничке проекта вы можете собрать корзину нужных товаров, которые мы отправим прямиком в больницу и которые обязательно помогут сделать больничную палату чуть более похожей на дом.</p>

			</columns>
		</row>
		<spacer size="8"></spacer>
		<row>
			<columns>
				<center><button class="alert expanded radius" href="http://www.esky.ru/club/fond/catalog/ronc/">хочу помочь</button></center>
				<spacer size="8"></spacer>
				<hr>
			</columns>
		</row>
	</container>
</wrapper>