<spacer size="8"></spacer>

<!-- heading -->

<!-- <wrapper>
	<container>
		<row>
			<columns>
				<h1>Список товаров<br><small>и подзаголовок списка</small></h1>
			</columns>
		</row>
	</container>
</wrapper> -->

<!-- block -->

<wrapper class="no-padding">
	<container>	

		<!-- row #1 -->

		<row>

			<!-- item #1 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="https://www.esky.ru/toys/catalog/item/4567/760049/">10%</button>
							<a href="https://www.esky.ru/toys/catalog/item/4567/760049/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170522/assets/img/item-1_1.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<div class="item-name"><p><a href="https://www.esky.ru/toys/catalog/item/4567/760049/">Набор пластилина №3 (красный, желтый, белый, голубой)</a></p></div>
						<div class="brand-name"><p>Play-Doh</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">369 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">332 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded radius" href="https://www.esky.ru/toys/catalog/item/4567/760049/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #1 -->

			<!-- item #2 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="https://www.esky.ru/toys/catalog/item/4564/867032/">10%</button>
							<a href="https://www.esky.ru/toys/catalog/item/4564/867032/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170522/assets/img/item-2_1.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<div class="item-name"><p><a href="https://www.esky.ru/toys/catalog/item/4564/867032/">Восковые карандаши "Маша и Медведь" (12 цветов)</a></p></div>
						<div class="brand-name"><p>Росмэн</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">79 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">71 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded radius" href="https://www.esky.ru/toys/catalog/item/4564/867032/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #2 -->

		</row>

		<!-- / row #1 -->

		<!-- row #2 -->

		<row>

			<!-- item #3 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="https://www.esky.ru/toys/catalog/item/4422/530345/">10%</button>
							<a href="https://www.esky.ru/toys/catalog/item/4422/530345/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170522/assets/img/item-3_1.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<div class="item-name"><p><a href="https://www.esky.ru/toys/catalog/item/4422/530345/">Аппликация для малышей<br>"Выпуск 1"</a></p></div>
						<div class="brand-name"><p>Стрекоза</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">75 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">67 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded radius" href="https://www.esky.ru/toys/catalog/item/4422/530345/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #3 -->

			<!-- item #4 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="https://www.esky.ru/toys/catalog/item/5169/258529/">10%</button>
							<a href="https://www.esky.ru/toys/catalog/item/5169/258529/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170522/assets/img/item-4_1.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<div class="item-name"><p><a href="https://www.esky.ru/toys/catalog/item/5169/258529/">Радужный песок <br> (4 цвета, формочки)</a></p></div>
						<div class="brand-name"><p>LORI</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">275 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">247 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded radius" href="https://www.esky.ru/toys/catalog/item/5169/258529/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #4 -->

		</row>

		<!-- / row #2 -->

		<row>
			<columns>
				<center><button href="https://www.esky.ru/baby/groups/mail-artsale10/" class="secondary radius expanded">Показать все</button></center>
			</columns>
		</row>

		<!-- <hr> -->

	</container>
</wrapper>