<spacer size="16"></spacer>
<spacer class="hide-for-large" size="8"></spacer>

<!-- main banner -->

<wrapper>
	<container>
		<row class="collapse">
			<columns class="full-width-image" small="12">
				<img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170525/assets/img/hero-image.jpg">
			</columns>
		</row>
	</container>
</wrapper>

<!-- heading, text, button -->

<spacer size="8"></spacer>

<wrapper>
	<container>
		<row>
			<columns>
				<h1>Читать — это здорово!</h1>
			</columns>
		</row>
		<row>
			<columns class="article" large="4" small="12">

				<p>Невероятные приключения и загадочные происшествия, самые свежие научные факты и забавные четверостишья, уникальные методики развития ребёнка и увлекательные задания ждут вас на книжных полках Ескай!</p>
				<p><strong>Только три дня с 25 по 28 мая</strong> на весь раздел “Книги и диски”, а также на многие товары разделов “Раннее развитие” и “Учебные пособия” действует скидка 15%.</p>
				<p>Просто введите в корзине промокод* и наслаждайтесь скидками.</p>
				


			</columns>
		</row>

		<row>
			<center>
			<columns small="12" large="8">
				<div class="promo-code">
					<p class="text-center">CP-70IKA-AXM8JEV</p>
				</div>

			</columns>
			</center>
		</row>

		<spacer size="16"></spacer>

		<row>
			<columns>
				<center><button class="small-expanded radius" href="https://www.esky.ru/baby/groups/mail-booksale15/">КУПИТЬ КНИГИ</button></center>
				<spacer size="16"></spacer>
				<p class="article"><small>*Не распространяется на товары, на которые уже действуют другие скидки или акции.</small></p>
				<spacer size="8"></spacer>
				<hr>
			</columns>
		</row>
	</container>
</wrapper>