<spacer size="16"></spacer>
<spacer class="hide-for-large" size="8"></spacer>

<!-- main banner -->

<wrapper>
	<container>
		<row>
			<columns class="full-width-image" small="12">
				<a href="https://www.esky.ru/baby/groups/mail-artsale10/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170522/assets/img/hero.jpg"></a>
			</columns>
		</row>
	</container>
</wrapper>

<!-- heading, text, button -->

<spacer size="8"></spacer>

<wrapper>
	<container>
		<row>
			<columns>
				<h1>Думаете, чем заняться с ребёнком в каникулы?</h1>
			</columns>
		</row>
		<row>
			<columns class="article" large="4" small="12">
				<p>Подойдите к вопросу творчески! <strong>Только с 22 по 24 мая</strong> на весь раздел “Хобби и творчество”, а также на многие товары разделов “Наука и техника”, “Канцелярские товары” и “Школьные принадлежности” действует скидка 10%!</p>
				<p>Просто введите в корзине промокод и смело создавайте поделки, модели и шедевры вместе!</p>
			</columns>
		</row>

		<row>
			<center>
			<columns small="12" large="8"><div class="promo-code">
				<p class="text-center">CP-WXUSV-1BQMM00</p>
			</div></columns>
			</center>
		</row>

		<spacer size="16"></spacer>

		<row>
			<columns>
				<center><button class="small-expanded radius" href="https://www.esky.ru/baby/groups/mail-artsale10/">Купить</button></center>
			</columns>
		</row>

		<row>
			<columns class="article" large="4" small="12">
				<p><small>Промокод не распространяется на товары, на которые уже действуют другие скидки или акции.</small></p>
				<spacer size="8"></spacer>
				<hr>
			</columns>
		</row>

	</container>
</wrapper>