<spacer size="16"></spacer>

<!-- main banner -->

<wrapper>
	<container>
		<row>
			<columns class="full-width-image" small="12">
				<img class="float-center" src="http://placehold.it/720x440/eeeeee/eeeeee/">
			</columns>
		</row>
	</container>
</wrapper>

<!-- heading, text, button -->

<spacer size="8"></spacer>

<wrapper>
	<container>
		<row>
			<columns>
				<h1>Заголовок<br><small>и подзаголовок акции</small></h1>
			</columns>
		</row>
		<row>
			<columns class="article" large="4" small="12">
				<p>Text block lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</columns>
		</row>
		<spacer size="8"></spacer>
		<row>
			<columns>
				<center><button class="small-expanded rounded" href="#">Default button</button></center>
				<spacer size="16"></spacer>
				<hr>
			</columns>
		</row>
	</container>
</wrapper>