<spacer size="8"></spacer>

<wrapper class="no-padding">
	<container>

	<!-- row #1 -->

		<row>

		<!-- item #1 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>
						<columns>
							<button class="tiny rounded alert saletag" href="http://www.esky.ru/toys/catalog/item/4422/835539/">10%</button>
							<a href="http://www.esky.ru/toys/catalog/item/4422/835539/"><img class="float-center" src="{{root}}assets/img/380657_0.jpg"></a>
						</columns>
					</row>

					<row>
						<columns>
							 <div class="item-name"><p><a href="http://www.esky.ru/toys/catalog/item/4422/835539/"><strong>Наклейки-апликации "Цыпленок"</strong></a></p></div>
							 <div class="brand-name"><p>Росмэн</p></div>
						 </columns>
					</row>
					<spacer size="8"></spacer>
					<row>
						
						<columns small="12" large="6">
							<div class="price-description"><p class="text-center">цена с промокодом*</p></div>
						</columns>

					</row>
					<row>

						<columns small="12" large="6">
							<div class="price"><p class="text-center">80 ₽</p></div>

							<spacer size="16"></spacer>
						</columns>

					</row>
					<row>

						<columns small="12" large="6">
							<center>
								<button class="expanded rounded" href="http://www.esky.ru/toys/catalog/item/4422/835539/">подробнее</button>
							</center>
						</columns>

					</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

		<!-- item #2 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>
						<columns>
							<button class="tiny rounded alert saletag" href="http://www.esky.ru/toys/catalog/item/4583/461247/">10%</button>
							<a href="http://www.esky.ru/toys/catalog/item/4583/461247/"><img class="float-center" src="{{root}}assets/img/267849_0.jpg"></a>
						</columns>
					</row>

					<row>
						<columns>
							 <div class="item-name"><p><a href="http://www.esky.ru/toys/catalog/item/4583/461247/"><strong>Раннее развитие. Умные карточки "Первые слова"</strong></a></p></div>
							 <div class="brand-name"><p>Росмэн</p></div>
						 </columns>
					</row>
					<spacer size="8"></spacer>
					<row>
						
						<columns small="12" large="6">
							<div class="price-description"><p class="text-center">цена с промокодом*</p></div>
						</columns>

					</row>
					<row>

						<columns small="12" large="6">
							<div class="price"><p class="text-center">184 ₽</p></div>

							<spacer size="16"></spacer>
						</columns>

					</row>
					<row>

						<columns small="12" large="6">
							<center>
								<button class="expanded rounded" href="http://www.esky.ru/toys/catalog/item/4583/461247/">подробнее</button>
							</center>
						</columns>

					</row>

				</div>

				<spacer size="16"></spacer>

			</columns>
			
		</row>

		<!-- row #2 -->

		<row>

		<!-- item #3 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>
						<columns>
							<button class="tiny rounded alert saletag" href="http://www.esky.ru/toys/catalog/item/4839/712893/">10%</button>
							<a href="http://www.esky.ru/toys/catalog/item/4839/712893/"><img class="float-center" src="{{root}}assets/img/331033_0.jpg"></a>
						</columns>
					</row>

					<row>
						<columns>
							 <div class="item-name"><p><a href="http://www.esky.ru/toys/catalog/item/4839/712893/"><strong>Детская энциклопедия Росмэн. Живая природа</strong></a></p></div>
							 <div class="brand-name"><p>Росмэн</p></div>
						 </columns>
					</row>
					<spacer size="8"></spacer>
					<row>
						
						<columns small="12" large="6">
							<div class="price-description"><p class="text-center">цена с промокодом*</p></div>
						</columns>

					</row>
					<row>

						<columns small="12" large="6">
							<div class="price"><p class="text-center">130 ₽</p></div>

							<spacer size="16"></spacer>
						</columns>

					</row>
					<row>

						<columns small="12" large="6">
							<center>
								<button class="expanded rounded" href="http://www.esky.ru/toys/catalog/item/4839/712893/">подробнее</button>
							</center>
						</columns>

					</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

		<!-- item #4 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>
						<columns>
							<button class="tiny rounded alert saletag" href="http://www.esky.ru/toys/catalog/item/4855/460933/">10%</button>
							<a href="http://www.esky.ru/toys/catalog/item/4855/460933/"><img class="float-center" src="{{root}}assets/img/267781_0.jpg"></a>
						</columns>
					</row>

					<row>
						<columns>
							 <div class="item-name"><p><a href="http://www.esky.ru/toys/catalog/item/4855/460933/"><strong>Все лучшие сказки. Лучшие волшебные сказки</strong></a></p></div>
							 <div class="brand-name"><p>Росмэн</p></div>
						 </columns>
					</row>
					<spacer size="8"></spacer>
					<row>
						
						<columns small="12" large="6">
							<div class="price-description"><p class="text-center">цена с промокодом*</p></div>
						</columns>

					</row>
					<row>

						<columns small="12" large="6">
							<div class="price"><p class="text-center">189 ₽</p></div>

							<spacer size="16"></spacer>
						</columns>

					</row>
					<row>

						<columns small="12" large="6">
							<center>
								<button class="expanded rounded" href="http://www.esky.ru/toys/catalog/item/4855/460933/">подробнее</button>
							</center>
						</columns>

					</row>

				</div>

				<spacer size="24"></spacer>

			</columns>
			
		</row>

		<row>
			<columns>
				<center>
					<button class="secondary rounded expanded" href="#">показать все</button>
				</center>
			</columns>
		</row>

		<row>
			<columns class="article" small="12">
				<p><small>* С 17 по 23 апреля, вы можете приобрести книжную продукцию Росмэн со скидкой 10%. В корзине при оформлении заказа необходимо ввести специальный промокод, который указан в письме ниже, и скидка ваша! Обращаем ваше внимание, что промокод не распространяется на товары со скидкой.</small></p>
			</columns>
		</row>
		
	</container>
</wrapper>