<spacer size="8"></spacer>

<!-- heading -->

<wrapper>
	<container>
		<row>
			<columns>
				<h1>Товары,<br><small>которые участвуют в распродаже</small></h1>
			</columns>
		</row>
	</container>
</wrapper>

<!-- block -->

<wrapper class="no-padding">
	<container>

	<!-- row #1 -->

		<row>

		<!-- item #1 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="https://www.esky.ru/soap/catalog/item/5394/75073/">25%</button>
							<a href="https://www.esky.ru/soap/catalog/item/5394/75073/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170426/assets/img/item-1-1.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<div class="item-name"><p><a href="https://www.esky.ru/soap/catalog/item/5394/75073/">Гель Mama Lemon для мытья посуды и детских пр...600 мл</a></p></div>
						<div class="brand-name"><p>Lion</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">155 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">116 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded rounded" href="https://www.esky.ru/soap/catalog/item/5394/75073/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #1 -->

			<!-- item #2 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="https://www.esky.ru/soap/catalog/item/6105/241787/">25%</button>
							<a href="https://www.esky.ru/soap/catalog/item/6105/241787/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170426/assets/img/item-1-2.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<div class="item-name"><p><a href="https://www.esky.ru/soap/catalog/item/6105/241787/">Туалетная бумага Zewa Плюс двухслойная, 12 рулонов</a></p></div>
						<div class="brand-name"><p>Zewa</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">209 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">156 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded rounded" href="https://www.esky.ru/soap/catalog/item/6105/241787/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #2 -->

		</row>

		<!-- / row #1 -->

		<!-- row #2 -->

		<row>

		<!-- item #1 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="https://www.esky.ru/baby/catalog/item/7089/860321/">25%</button>
							<a href="https://www.esky.ru/baby/catalog/item/7089/860321/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170426/assets/img/item-2-1.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<div class="item-name"><p><a href="https://www.esky.ru/baby/catalog/item/7089/860321/">Горячий шоколад Экологика "Чукка" 150 г</a></p></div>
						<div class="brand-name"><p>Экологика</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">90 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">67 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded rounded" href="https://www.esky.ru/baby/catalog/item/7089/860321/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #1 -->

			<!-- item #2 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="https://www.esky.ru/baby/catalog/item/6238/847392/">25%</button>
							<a href="https://www.esky.ru/baby/catalog/item/6238/847392/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170426/assets/img/item-2-2.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<div class="item-name"><p><a href="https://www.esky.ru/baby/catalog/item/6238/847392/">Макароны Экстра-М "Вермишель" 400 г</a></p></div>
						<div class="brand-name"><p>Экстра М</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">49 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">36 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded rounded" href="https://www.esky.ru/baby/catalog/item/6238/847392/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #2 -->

		</row>

		<!-- / row #2 -->

		<row>
			<columns>
				<spacer size="16"></spacer>
				<center><button href="https://www.esky.ru/baby/groups/email-sale/" class="secondary rounded expanded">Показать все</button></center>
			</columns>
		</row>

		<row>
			<columns class="article small-12">
				<spacer size="16"></spacer>
				<p><small>* цены на товары указаны после применения промокода, который активируется в корзине. Настоящая рассылка не является офертой. Актуальную информацию о наличии товаров и ценах вы можете получить на сайте Esky.ru</small></p>
			</columns>
		</row>

		<hr>

	</container>
</wrapper>