<spacer size="32"></spacer>

<!-- main banner -->

<wrapper>
	<container>
		<row class="collapse">
			<columns class="full-width-image" small="12">
				<a href="http://www.esky.ru/club/photo/#about"><img class="float-center" src="{{root}}assets/img/i-hero.jpg"></a>
			</columns>
		</row>
	</container>
</wrapper>

<!-- heading, text, button -->

<spacer size="8"></spacer>

<wrapper>
	<container>

		<row>
			<columns>
				<h1>А вы знаете, что в Ескай есть своя фотостудия?</h1>
			</columns>
		</row>

		<row>
			<columns class="article" small="12">

				<p>Место, где дети (и их родители) не позируют, а играют: превращаются в индейцев или пиратов, качаются на качелях, попадают в Зазеркалье и Страну чудес!</p>

				<p>Семейная и детская фотосессия <strong>от 2 400 рублей</strong>, интерактивные локации и уйма игрового реквизита, костюмированные фотопроекты и отличные фотографии в семейный альбом уже ждут вас!</p>

			</columns>
		</row>

		<spacer size="8"></spacer>

		<row>
			<columns>
				<center><button class="small-expanded rounded" href="http://www.esky.ru/club/photo/">Записаться на фотосессию</button></center>
				<!-- <spacer size="16"></spacer> -->
				<!-- <hr> -->
			</columns>
		</row>

	</container>
</wrapper>