<wrapper class="footer-info">
  <container>

    <spacer size="30"></spacer>

    <center><button class="success small-expanded radius" href="tel:88007005758">8 800 700 57 58</button></center>

    </container>
</wrapper>

<spacer size="8"></spacer>

<wrapper>

  <container>

    <hr>

    <spacer size="8"></spacer>

    <row>
      <columns class="legal" small="12">
        <p class="text-left">Вы получили это письмо, потому что подписаны на рассылку компании Esky.ru.</p>
        <p>{{{{raw}}}}<a href="{{unsubscribeUrl}}" title="">{{{{/raw}}}}Отписаться от рассылки можно здесь</a></p>
      </columns>
    </row>


    <row>
      <columns small="12" class="legal">
        <p class="text-left"><strong>ООО &laquo;Ескай.ру&raquo;</strong></p>
        <p>ИНН: 7715780739, ОРГН: 1097746675672, юридический адрес: 127018, г. Москва, ул. Складочная д. 3, стр. 3</p>
      </columns>
    </row>

  </container>

</wrapper>