<wrapper class="catalog">
  <container>
    <center>
    <row>
      <columns></columns>
    </row>
    <row class="collapse">
      <columns class="divider-v show-for-large"></columns>
      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="#">{catalog {category[id]} }</a></p></div></columns>
      <columns class="divider-v show-for-large"></columns>
      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="#">{catalog {category[id]} }</a></p></div></columns>
      <columns class="divider-v show-for-large"></columns>
    </row>
    <row class="collapse">
      <columns class="divider-v show-for-large"></columns>
      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="#">{catalog {category[id]} }</a></p></div></columns>
      <columns class="divider-v show-for-large"></columns>
      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="#">{catalog {category[id]} }</a></p></div></columns>
      <columns class="divider-v show-for-large"></columns>
    </row>
    <row class="collapse">
      <columns class="divider-v show-for-large"></columns>
      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="#">{catalog {category[id]} }</a></p></div></columns>
      <columns class="divider-v show-for-large"></columns>
      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="#">{catalog {category[id]} }</a></p></div></columns>
      <columns class="divider-v show-for-large"></columns>
    </row>
    </center>
  </container>
</wrapper>

<!-- social buttons, contact info & address, subscription prefs, call-us button -->

<wrapper class="footer-info">
  <container>
    <spacer size="22"></spacer>
    <row class="social-buttons">
      <columns small="2" large="1">
        <div class="social vk">
          <a href="https://vk.com/esky_ru" target="_blank"><img src="{{root}}assets/img/email-layout__social_vkontakte.png" alt="Ескай Вконтакте"></a>
        </div>
      </columns>
      <columns small="2" large="1">
        <div class="social ok">
          <a href="https://ok.ru/group/54929243373589" target="_blank"><img src="{{root}}assets/img/email-layout__social_ok.png" alt="Ескай в одноклассниках"></a>
        </div>
      </columns>
      <columns small="2" large="1">
        <div class="social facebook">
          <a href="https://www.facebook.com/esky.ru" target="_blank"><img src="{{root}}assets/img/email-layout__social_facebook.png" alt="Ескай в Facebook"></a>
        </div>
      </columns>
      <columns small="2" large="1">
        <div class="social instagram">
          <a href="https://www.instagram.com/esky.ru/" target="_blank"><img src="{{root}}assets/img/email-layout__social_instagram.png" alt="Ескай в Instagram"></a>
        </div>
      </columns>
      <columns small="6" large="8"></columns>
    </row>
    <row>
      <columns class="legal" small="12">
        <p class="text-left">Вы получили это письмо, потому что подписаны на рассылку компании Esky.ru.</p>
        <p>{{{{raw}}}}<a href="{{unsubscribeUrl}}" title="">{{{{/raw}}}}Отписаться от рассылки можно здесь</a></p>
      </columns>
    </row>
    <center><button class="success small-expanded radius" href="tel:88007005758">8 800 700 57 58</button></center>
    </container>
</wrapper>

<spacer size="8"></spacer>

<wrapper>

  <container>

    <hr>

    <spacer size="8"></spacer>

    <row>
      <columns small="12" class="legal">
        <p class="text-left"><strong>ООО &laquo;Ескай.ру&raquo;</strong></p>
        <p>ИНН: 7715780739, ОРГН: 1097746675672, юридический адрес: 127018, г. Москва, ул. Складочная д. 3, стр. 3</p>
      </columns>
    </row>

  </container>

</wrapper>