<wrapper class="catalog">
  <container>
    <center>
    <row>
      <columns></columns>
    </row>
    <row class="collapse">
      
      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="https://www.esky.ru/7fridays/?open&f=baby" target="_blank">Товары для малышей</a></p></div></columns>

    </row>
    <row class="collapse">

      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="https://www.esky.ru/7fridays/?open&f=toys" target="_blank">Игрушки и развитие</a></p></div></columns>
      
    </row>
    <row class="collapse">
      
      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="https://www.esky.ru/7fridays/?open&f=dress" target="_blank">Одежда и обувь</a></p></div></columns>

    </row>
    <row class="collapse">

      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="https://www.esky.ru/7fridays/?open&f=soap" target="_blank">Уход за домом и за собой</a></p></div></columns>
      
    </row>
    <row class="collapse">
      
      <columns small="12" large="6"><div class="item"><p class="text-center item"><a href="https://www.esky.ru/7fridays/?open&f=pets" target="_blank">Товары для животных</a></p></div></columns>

    </row>
    </center>
  </container>
</wrapper>

<!-- social buttons, contact info & address, subscription prefs, call-us button -->

<wrapper class="footer-info">
  <container>
    <spacer size="22"></spacer>

    <center><button class="success small-expanded radius" href="tel:88007005758">8 800 700 57 58</button></center>
    </container>
</wrapper>

<spacer size="8"></spacer>

<wrapper>

  <container>

    <hr>

    <row>
      <columns class="legal" small="12">
        <p class="text-left">Вы получили это письмо, потому что подписаны на рассылку компании Esky.ru.</p>
        <p>{{{{raw}}}}<a href="{{unsubscribeUrl}}" title="">{{{{/raw}}}}Отписаться от рассылки можно здесь</a></p>
      </columns>
    </row>

    <spacer size="8"></spacer>

    <row>
      <columns small="12" class="legal">
        <p class="text-left"><strong>ООО &laquo;Ескай.ру&raquo;</strong></p>
        <p>ИНН: 7715780739, ОРГН: 1097746675672, юридический адрес: 127018, г. Москва, ул. Складочная д. 3, стр. 3</p>
      </columns>
    </row>

  </container>

</wrapper>