<!-- <spacer size="32"></spacer> -->
<a name="this"></a>
<wrapper>
	<container>

		<row>
			<columns>
				<h1>Галерея</h1>
			</columns>
		</row>

		<row>
			<columns large="6"><a href="http://www.esky.ru/club/photo/#about"><img src="{{root}}assets/img/i-g-1.jpg"></a></columns>
			<columns large="6"><a href="http://www.esky.ru/club/photo/#about"><img src="{{root}}assets/img/i-g-2.jpg"></a></columns>
		</row>

		<row>
			<columns large="6"><a href="http://www.esky.ru/club/photo/#about"><img src="{{root}}assets/img/i-g-3.jpg"></a></columns>
			<columns large="6"><a href="http://www.esky.ru/club/photo/#about"><img src="{{root}}assets/img/i-g-4.jpg"></a></columns>
		</row>

		<row class="show-for-large">
			<columns large="6"><a href="http://www.esky.ru/club/photo/#about"><img src="{{root}}assets/img/i-g-5.jpg"></a></columns>
			<columns large="6"><a href="http://www.esky.ru/club/photo/#about"><img src="{{root}}assets/img/i-g-6.jpg"></a></columns>
		</row>

		<spacer size="16"></spacer>
		<center><button class="secondary small-expanded rounded" href="http://www.esky.ru/club/photo/#about">Ещё фотографии ›</button></center>
		<center><button class="small-expanded rounded" href="#">Записаться на фотосессию</button></center>
		<spacer size="8"></spacer>

		<hr>

	</container>
</wrapper>