<spacer size="16"></spacer>

<!-- heading -->

<!-- list of offers -->


		

		<!-- row # 1 -->

		<row>

			<!-- offer # 1 - 2 -->

			<columns large="6" small="12">

				<a href="#"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170518/assets/img/korovataya-1.jpg"></a>
				<spacer size="8"></spacer>
				<div class="description"><p class="text-center">2016 год</p></div>
				<!-- <spacer size="12"></spacer> -->

			</columns>

			<!-- offer # 2 - 2 -->

			<columns large="6" small="12">

				<a href="#"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170518/assets/img/korovataya-2.jpg"></a>
				<spacer size="8"></spacer>
				<div class="description"><p class="text-center">2017 год</p></div>
				<!-- <spacer size="12"></spacer> -->

			</columns>

		</row>

		
		
		<!-- <hr> -->
	

<!-- <spacer size="16"></spacer> -->
