<spacer size="32"></spacer>

<wrapper class="no-padding no-padding-h">
  <container>
    <row>

      <columns valign="middle" class="show-for-large" large="3">
      	<div class="preheader-text"><p>Беспрецедентная скидка на детскую одежду и обувь!</p></div>
      </columns>
      
      <columns valign="middle" large="6" small="8">
      	<a href="http://www.esky.ru/"><img class="float-center" src="{{root}}assets/img/email-layout__header-logo.png" width="200" height="72"></a>
      </columns>
      
      <columns valign="middle" large="3" small="4">
      
      	<div class="preheader-text"><p class="text-right">{{{{raw}}}}<a href={{htmlVersionLink}}>{{{{/raw}}}}в браузере</a> ›</p></div>
      
      </columns>

    </row>

  </container>

  <row>
  	
    	<columns small="12" large="12">
    		<div class="menu-artefact"><spacer size="16"></spacer></div>
    	</columns>

  </row>

</wrapper>
