<spacer size="16"></spacer>
<spacer class="hide-for-large" size="8"></spacer>

<!-- main banner -->

<wrapper>
	<container>
		<row>
			<columns class="full-width-image" small="12">
				<img class="float-center" src="{{root}}assets/img/small-hero.jpg">
			</columns>
		</row>
	</container>
</wrapper>

<!-- heading, text, button -->

<spacer size="8"></spacer>

<wrapper>
	<container>
		<row>
			<columns>
				<h1>Как образуются горы работы<br><small>или что стало с мышонком, который не читал почту</small></h1>
			</columns>
		</row>
		<row>
			<columns class="article" small="12">
				<p>Знаете ли вы, как образуются горы, чем минивэн отличается от универсала, что помидор – близкий родственник картофеля и как закончилась история ленивого мышонка? А ваши дети знают!</p>
				<p>С познавательными, обучающими и увлекательными книжками издательства Росмэн малыши быстрее научатся говорить, читать и считать, сделают много открытий, увлекутся науками и обязательно полюбят стихи и сказки!</p>
			</columns>
		</row>
		<spacer size="8"></spacer>
		<row>
			<columns>
				<center><button class="alert small-expanded radius" href="#">&laquo;Маленькие герои&raquo;</button></center>
				<spacer size="8"></spacer>
				<!-- <hr> -->
			</columns>
		</row>
	</container>
</wrapper>