<spacer size="32"></spacer>

<!-- main banner -->

<wrapper>
	<container>
		<row>
			<columns class="full-width-image" small="12">
				<a href="https://www.esky.ru/baby/action/clothes-130617/" target="_blank"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170619/assets/img/mobile-banner.jpg"></a>
			</columns>
		</row>
	</container>
</wrapper>

<!-- heading, text, button -->

<spacer size="8"></spacer>

<wrapper>
	<container>
		<row>
			<columns>
				<h1>Уникальное предложение от Ескай!</h1>
			</columns>
		</row>
		<row>
			<columns class="article" small="12">
				<p>Наши скидки на одежду уже успели шокировать покупателей, но это нас не останавливает! Только с 13 июня по 2 июля обновлять детский гардероб экстремально выгодно!</p>
				<p><strong>Чем больше одежды — тем больше скидок:</strong></p>
				<p>3 вещи = скидка 15%
				<br>
				<p>4-7 вещей = скидка 20%
				<br>
				<p>От 8 вещей = скидка 25%</p>
				<p>Не упустите шанс создать массу стильных луков для малыша по выгодной цене!</p>
			</columns>
		</row>
<!--
		<row>
		<spacer size="8"></spacer>
			<columns>
				<center><button class="small-expanded radius" href="https://www.esky.ru/baby/action/clothes-130617/" target="_blank">Купить одежду</button></center>
				<spacer size="16"></spacer>
				<hr>
			</columns>
		</row>
-->
	</container>
</wrapper>