<spacer size="8"></spacer>

<!-- heading -->

<wrapper>
	<container>
		<row>
			<columns>
				<h1><small>Товары, участвующие в акции:</small></h1>
			</columns>
		</row>
	</container>
</wrapper>

<!-- block -->

<wrapper class="no-padding">
	<container>


	<!-- row #1 -->

		<row>

		<!-- item #1 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="http://www.esky.ru/dress/catalog/item/5806/846147/">30%</button>
							<a href="#"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170515/assets/img/384621_G.gif"></a>
						</columns>

					</row>

				<row>

					<columns>
						<spacer size="8"></spacer>
						<div class="item-name"><p><a href="http://www.esky.ru/dress/catalog/item/5806/846147/">Платье Тридевятое царство Emily Rise (синее)</a></p></div>
						<div class="brand-name"><p>Emily Rise</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">343 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">240 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded radius" href="http://www.esky.ru/dress/catalog/item/5806/846147/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #1 -->

			<!-- item #2 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="http://www.esky.ru/dress/catalog/item/5803/852890/">30%</button>
							<a href="#"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170515/assets/img/388186_0.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<spacer size="8"></spacer>
						<div class="item-name"><p><a href="http://www.esky.ru/dress/catalog/item/5803/852890/">Брюки для девочки Яркие штрихи PlayToday (розовые)</a></p></div>
						<div class="brand-name"><p>PlayToday</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">640 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">448 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded radius" href="http://www.esky.ru/dress/catalog/item/5803/852890/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #2 -->

		</row>

	<!-- / row #1 -->

	<!-- row #2 -->

		<row>

		<!-- item #3 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="http://www.esky.ru/dress/catalog/item/5794/796656/">30%</button>
							<a href="#"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170515/assets/img/363134_0.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<spacer size="8"></spacer>
						<div class="item-name"><p><a href="http://www.esky.ru/dress/catalog/item/5794/796656/">Кофточка Лесная сказка (молочно-розовая с принтом)</a></p></div>
						<div class="brand-name"><p>Soni Kids</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">170 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">119 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded radius" href="http://www.esky.ru/dress/catalog/item/5794/796656/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #3 -->

			<!-- item #4 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="http://www.esky.ru/dress/catalog/item/5807/860682/">30%</button>
							<a href="#"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170515/assets/img/391058_G.gif"></a>
						</columns>

					</row>

				<row>

					<columns>
						<spacer size="8"></spacer>
						<div class="item-name"><p><a href="http://www.esky.ru/dress/catalog/item/5807/860682/">Лонгслив с принтом Quiksilver (голубой)</a></p></div>
						<div class="brand-name"><p>Quiksilver</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">645 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">451 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded radius" href="http://www.esky.ru/dress/catalog/item/5807/860682/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #4 -->

		</row>

	<!-- / row #2 -->

	<!-- row #3 -->

		<row>

		<!-- item #5 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="http://www.esky.ru/dress/catalog/item/5810/825968/">30%</button>
							<a href="#"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170515/assets/img/377167_0.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<spacer size="8"></spacer>
						<div class="item-name"><p><a href="http://www.esky.ru/dress/catalog/item/5810/825968/">Свитшот Strange Nigh Quiksilver (светло-серый)</a></p></div>
						<div class="brand-name"><p>Quiksilver</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">748 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">523 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded radius" href="http://www.esky.ru/dress/catalog/item/5810/825968/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #5 -->

			<!-- item #6 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<button class="tiny rounded alert saletag" href="http://www.esky.ru/dress/catalog/item/5803/802356/">30%</button>
							<a href="#"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170515/assets/img/366519_0.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<spacer size="8"></spacer>
						<div class="item-name"><p><a href="http://www.esky.ru/dress/catalog/item/5803/802356/">Брюки Команда роботов PlayToday (серые)</a></p></div>
						<div class="brand-name"><p>PlayToday</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<div class="price-description"><p class="text-center">цена с промо-кодом*</p></div>
								<div class="price-old"><p class="text-center">600 руб.</p></div>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">420 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="expanded radius" href="http://www.esky.ru/dress/catalog/item/5803/802356/">купить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="16"></spacer>

			</columns>

			<!-- / item #6 -->

		</row>

	<!-- / row #3 -->


		<row>
			<columns>
				<spacer size="8"></spacer>
				<center><button href="http://www.esky.ru/dress/catalog/category/5768/" class="secondary radius expanded">Показать все</button></center>
			</columns>
		</row>

		<row><columns><p class="article"><small>* цены на товары указаны после применения промокода, который активируется в корзине. Настоящая рассылка не является офертой. Актуальную информацию о наличии товаров и ценах вы можете получить на сайте Esky.ru</small></p></columns></row>

		<!-- <hr> -->

	</container>
</wrapper>