<spacer size="32"></spacer>

<!-- heading -->

<wrapper>
	<container>
		<row>
			<columns>
				<h1>То, что очень нужно в больнице:</h1>
			</columns>
		</row>
	</container>
</wrapper>

<!-- block -->

<wrapper class="no-padding">
	<container>

	{{#repeat 2}}

	<!-- row -->

		<row>

		{{#repeat 2}}


		<!-- item #1 (2 in a row) -->

			<columns large="6" small="12">

				<div class="item-container">

					<row>

						<columns>
							<!-- <button class="tiny rounded alert saletag" href="#">31%</button> -->
							<a href="#"><img class="float-center" src="{{root}}assets/img/item.jpg"></a>
						</columns>

					</row>

				<row>

					<columns>
						<div class="item-name"><p><a href="#">Стиральный порошок Tide Альпийская свежесть 6 кг</a></p></div>
						<div class="brand-name"><p>Нужен в больнице для стирки детских вещей</p></div>
					</columns>

					</row>

					<spacer size="16"></spacer>

						<row>

							<columns small="12" large="6">
								<!-- <div class="price-description"><p class="text-center">цена с промо-кодом*</p></div> -->
								<!-- <div class="price-old"><p class="text-center">5 990 руб.</p></div> -->
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<div class="price"><p class="text-center">729 руб.</p></div>

								<spacer size="16"></spacer>
							</columns>

						</row>

						<row>

							<columns small="12" large="6">
								<center><button class="alert expanded radius" href="#">подарить</button></center>
							</columns>

						</row>

				</div>

				<spacer size="24"></spacer>

			</columns>

			<!-- / item #1 -->

			{{/repeat}}

		</row>

			{{/repeat}}

		<row>
			<columns>
				<center><button href="#" class="secondary radius expanded">выбрать другие</button></center>
			</columns>
		</row>

		<hr>

	</container>
</wrapper>