<spacer size="8"></spacer>

<!-- heading 

<wrapper>
	<container>
		<row>
			<columns>
				<h1>Список акций<br><small>и подзаголовок списка</small></h1>
			</columns>
		</row>
	</container>
</wrapper>

<!-- list of offers -->

<wrapper>
	<container>

		<!-- row # 1 -->

		<row>			
			
			<!-- offer # 1 - 1 -->

			<columns large="6" small="12">

				<a href="https://www.esky.ru/dress/catalog/category/4686/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170619/assets/img/0-12.jpg"></a>
				<!-- <spacer size="8"></spacer> -->
				<!-- <div class="description"><p class="text-center">Скидки до 70% на детскую одежду и обувь</p></div> -->
				<spacer size="0"></spacer>

			</columns>

			<!-- offer # 2 - 1 -->

			<columns large="6" small="12">

				<a href="https://www.esky.ru/dress/catalog/category/4687/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170619/assets/img/12-36.jpg"></a>
				<!-- <spacer size="8"></spacer> -->
				<!-- <div class="description"><p class="text-center">Скидки до 70% на детскую одежду и обувь</p></div> -->
				<spacer size="0"></spacer>

			</columns>			

		</row>

		<!-- row # 2 -->

		<row>			
			
			<!-- offer # 1 - 2 -->

			<columns large="6" small="12">

				<a href="https://www.esky.ru/dress/catalog/category/4689/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170619/assets/img/g48.jpg"></a>
				<!-- <spacer size="8"></spacer> -->
				<!-- <div class="description"><p class="text-center">Скидки до 70% на детскую одежду и обувь</p></div> -->
				<spacer size="0"></spacer>

			</columns>

			<!-- offer # 2 - 2 -->

			<columns large="6" small="12">

				<a href="https://www.esky.ru/dress/catalog/category/4688/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170619/assets/img/b48.jpg"></a>
				<!-- <spacer size="8"></spacer> -->
				<!-- <div class="description"><p class="text-center">Скидки до 70% на детскую одежду и обувь</p></div> -->
				<spacer size="0"></spacer>

			</columns>			

		</row>

		<!-- row # 3 -->

		<row>			
			
			<!-- offer # 1 - 3 -->

			<columns large="6" small="12">

				<a href="https://www.esky.ru/dress/catalog/category/6211/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170619/assets/img/school.jpg"></a>
				<!-- <spacer size="8"></spacer> -->
				<!-- <div class="description"><p class="text-center">Скидки до 70% на детскую одежду и обувь</p></div> -->
				<spacer size="0"></spacer>

			</columns>

			<!-- offer # 2 -->

			<columns large="6" small="12">

				<a href="https://www.esky.ru/dress/catalog/category/4690/"><img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170619/assets/img/shoes.jpg"></a>
				<!-- <spacer size="8"></spacer> -->
				<!-- <div class="description"><p class="text-center">Скидки до 70% на детскую одежду и обувь</p></div> -->
				<spacer size="0"></spacer>

			</columns>			

		</row>
		
		<row>
			<columns>
				<spacer size="32"></spacer>
				<center><button class="small-expanded radius" href="https://www.esky.ru/baby/action/clothes-130617/" target="_blank">Купить одежду</button></center>
			</columns>
		</row>

		<hr>
	
	</container>
</wrapper>

<spacer size="0"></spacer>
