<spacer size="8"></spacer>

<!-- heading -->

<wrapper>
	<container>
		<row>
			<columns>
				<h1>Список акций<br><small>и подзаголовок списка</small></h1>
			</columns>
		</row>
	</container>
</wrapper>

<!-- list of offers -->

<wrapper>
	<container>

		{{#repeat 3}}

		<!-- row # 1 -->

		<row>

			{{#repeat 2}}
			
			<!-- offer # 1 - 1 -->

			<columns large="6" small="12">

				<a href="#"><img class="float-center" src="{{root}}assets/img/placeholder__818x564.jpg"></a>
				<spacer size="8"></spacer>
				<div class="description"><p class="text-center">Скидки до 70% на детскую одежду и обувь</p></div>
				<spacer size="12"></spacer>

			</columns>

			{{/repeat}}

		</row>

		{{/repeat}}
		
		<row>
			<columns>
				<center><button href="#" class="secondary expanded radius">Показать все</button></center>
			</columns>
		</row>

		<hr>
	
	</container>
</wrapper>

<spacer size="16"></spacer>
