<div class="poll-filler-wrapper">
	<wrapper class="no-padding">
		<container>
				<wrapper>
					<container>
						<spacer size="32"></spacer>

						<row><columns><div class="poll-title">Следовало бы директору проучить мышонка?</div></columns></row>

						<row><columns><div class="poll-body">
							<img src="{{root}}assets/img/placeholder__818x564.jpg">
						</div></columns></row>

						<row><columns><div class="poll-body">Как вы думаете, следовало бы Вениамину наказать нерадивого мышонка и если да, то каким образом?</div></columns></row>

						<row>
							<columns>
								<div class="poll-body-last">
								<spacer size="16"></spacer>
								<center>
									<button class="secondary expanded rounded" href="#">нанять мышонку нянечку</button>
									<spacer size="8"></spacer>
									<button class="secondary expanded rounded" href="#">купить ему игрушечный компьютер</button>
									<spacer size="8"></spacer>
									<button class="secondary expanded rounded" href="#">надавать по башне огненным мечом</button>
									<spacer size="8"></spacer>
									<button class="secondary expanded rounded" href="#">отрезать мышонку морковку</button>
									<spacer size="8"></spacer>
								</center>			
								</div>
							</columns>
						</row>

						<spacer size="24"></spacer>
					</container>
				</wrapper>
			</div>
		</container>
	</wrapper>
</div>