<div class="poll-filler-wrapper">
	<wrapper class="no-padding">
		<container>
				<wrapper>
					<container>
						<spacer size="24"></spacer>

						<row>
							<columns>
								<div class="poll-title">Следовало бы директору проучить мышонка?</div>
							</columns>
						</row>

						<row>
							<columns>
								<div class="poll-body">Как вы думаете, следовало бы Вениамину наказать нерадивого мышонка и если да, то каким образом?</div>
							</columns>
						</row>

						<row>
							<columns>
								<div class="poll-body-last">
								<spacer size="16"></spacer>
								<center>
									<button class="secondary expanded radius" href="#">на 100 рублей</button>
									<spacer size="8"></spacer>
									<button class="secondary expanded radius" href="#">на 200 рублей</button>
									<spacer size="8"></spacer>
									<button class="secondary expanded radius" href="#">на 500 рублей</button>
									<spacer size="8"></spacer>
								</center>			
								</div>
							</columns>
						</row>

						<spacer size="24"></spacer>

					</container>
				</wrapper>
			</div>
		</container>
	</wrapper>
</div>