
						<row>
							<columns>
								
								<spacer size="16"></spacer>
								<center>
									<button class="secondary expanded radius" href="#">на 150 рублей</button>
									<spacer size="8"></spacer>
									<button class="secondary expanded radius" href="#">на 250 рублей</button>
									<spacer size="8"></spacer>
									<button class="secondary expanded radius" href="#">на 500 рублей</button>
									<spacer size="8"></spacer>
									<button class="secondary expanded radius" href="#">другая сумма</button>
									<spacer size="8"></spacer>
								</center>			
								
							</columns>
						</row>