<spacer size="16"></spacer>

<!-- main banner -->

<wrapper>
	<container>
		<row>
			<columns class="full-width-image" small="12">
				<img class="float-center" src="http://www.esky.ru/upload/image/email/2017/20170515/assets/img/banner.jpg">
			</columns>
		</row>
	</container>
</wrapper>

<!-- heading, text, button -->

<spacer size="8"></spacer>

<wrapper>
	<container>
		<row>
			<columns>
				<h1>Скидка на всю<br>детскую одежду и обувь!</h1>
			</columns>
		</row>
		<row>
			<columns class="article" large="4" small="12">
				
				<p>Грядут выпускные в садах и начальной школе, на смену которым придёт лето с поездками к морю и на дачу! Не пора ли приодеться?</p>

				<p><strong>Только одну неделю с 15 по 21 мая</strong> Вам доступна дополнительная скидка 30% на ВЕСЬ ассортимент детской одежды и обуви! Введите промокод при оформлении заказа, и пополните детский гардероб нарядной одеждой и летними новинками!</p>
 				
 				<p>Обращаем внимание, что, если цена на товар уже снижена, скидка считается от сниженной цены.</p>

			</columns>
		</row>

		<row>
			<center>
			<columns small="12" large="8"><div class="promo-code">
				<p class="text-center">CP-2WIYC-DXAD3AL</p>
			</div></columns>
			</center>
		</row>

		<spacer size="16"></spacer>

		<row>
			<columns>
				<center><button class="small-expanded radius" href="http://www.esky.ru/dress/catalog/category/5768/">Купить одежду</button></center>				
				<spacer size="8"></spacer>
				<!-- <hr> -->
			</columns>
		</row>
	</container>
</wrapper>