<spacer size="16"></spacer>

<!-- main banner -->

<wrapper>
	<container>
		<row>
			<columns class="full-width-image" small="12">
				<img class="float-center" src="{{root}}assets/img/placeholder__818x564.jpg">
			</columns>
		</row>
	</container>
</wrapper>

<!-- heading, text, button -->

<spacer size="8"></spacer>

<wrapper>
	<container>
		<row>
			<columns>
				<h1>Блок с промокодом<br><small>и его подзаголовок</small></h1>
			</columns>
		</row>
		<row>
			<columns class="article" large="4" small="12">
				<p>Text block lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</columns>
		</row>

		<row>
			<center>
			<columns small="12" large="8"><div class="promo-code">
				<p class="text-center">CP-2WIYC-DXAD3AL</p>
			</div></columns>
			</center>
		</row>

		<spacer size="16"></spacer>

		<row>
			<columns>
				<center><button class="small-expanded radius" href="#">Купить товары</button></center>				
				<spacer size="8"></spacer>
				<hr>
			</columns>
		</row>
	</container>
</wrapper>