<wrapper class="no-padding">
	<container>

		<spacer size="16"></spacer>
		
		<row>
			<columns>
				<div class="">
					<p class="text-center">Предупредить друзей в соцсетях:</p>
				</div>
			</columns>
		</row>

		<spacer size="8"></spacer>

		<row>

			<columns small="3" large="4"></columns>

			<columns small="2" large="1">
				<center><div class="social vk"><a href="https://vk.com/share.php?url=http%3A%2F%2Fesky.ru%2F7fridays&title=%D0%A0%D0%B0%D1%81%D0%BF%D1%80%D0%BE%D0%B4%D0%B0%D0%B6%D0%B0%20%227%20%D0%BF%D1%8F%D1%82%D0%BD%D0%B8%D1%86%22%20%E2%80%93%20%D1%81%D0%BA%D0%B8%D0%B4%D0%BA%D0%B8%20%D0%B4%D0%BE%2080%25"><img src="http://www.esky.ru/upload/image/email/2017/20170529/assets/img/share-vkontakte.png" alt="поделиться Вконтакте"></a></div></center>
			</columns>

			<columns small="2" large="1">
				<center><div class="social fb"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fesky.ru%2F7fridays"><img src="http://www.esky.ru/upload/image/email/2017/20170529/assets/img/share-facebook.png" alt="поделиться в Facebook"></a></div></center>
			</columns>

			<columns small="2" large="1">
				<center><div class="social ok"><a href="https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&service=odnoklassniki&st.shareUrl=http%3A%2F%2Fesky.ru%2F7fridays"><img src="http://www.esky.ru/upload/image/email/2017/20170529/assets/img/share-ok.png" alt="поделиться в Одноклассниках"></a></div></center>
			</columns>

			<columns small="3" large="4"></columns>

		</row>

		<spacer size="16"></spacer>

	</container>
</wrapper>