<div class="poll-filler-wrapper">
	<wrapper class="no-padding">
		<container>
				<wrapper>
					<container>
						<spacer size="32"></spacer>

						<row><columns><div class="poll-title">Здравствуйте!</div></columns></row>

						

						<row>
							<columns>
								<div class="poll-body">
								<p>Это короткий опрос, который займет пару секунд.</p>
								<br>
								<p>Мы хотим, чтобы письма, которые вы получаете от Ескай, одинаково легко читались и на широких мониторах, и на компактных экранах смартфонов.</p>
								<br>
								<p>Нам очень поможет ответ на вопрос – в каком приложении вы читаете электронную почту?</p>
								<br>
								<p>Просто кликните по тому варианту, который предпочитаете, и ваш ответ будет засчитан.</p>
								<br>
								<p>Если в списке нет подходящего варианта, выберите "по-другому" и напишите пару слов об этом в комментариях на странице опроса.</p>
								<spacer size="16"></spacer>
								<hr>
								</div>
							</columns>
						</row>

						<row>
							<columns>

								<div class="poll-body">
									<h2><div class="header_center">Я читаю почту в браузере:</div></h2>
									<p class="text-center"><small>(кликните на подходящий вариант)</small></p>
								</div>

							</columns>
						</row>

						<row>
							<columns>
								<div class="poll-body">
									<center>
									<row>
										
										<columns class="show-for-large" small="1" large="2">&nbsp;</columns>
										<columns small="4" large="2">
											<a target="_blank" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=firefox"><img src="http://www.esky.ru/upload/image/email/2017/20170421/assets/img/firefox.png" alt="Mozilla Firefox"></a>
											<p class="text-center small"><small>Firefox</small></p>
										</columns>
										<columns class="show-for-large" small="1" large="1">&nbsp;</columns>
										<columns small="4" large="2">
											<a target="_blank" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=chrome"><img src="http://www.esky.ru/upload/image/email/2017/20170421/assets/img/chrome.png" alt="Chrome"></a>
											<p class="text-center small"><small>Chrome</small></p>
										</columns>
										<columns class="show-for-large" small="1" large="1">&nbsp;</columns>
										<columns small="4" large="2">
											<a target="_blank" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=safari"><img src="http://www.esky.ru/upload/image/email/2017/20170421/assets/img/safari.png" alt="Safari"></a>
											<p class="text-center small"><small>Safari</small></p>
										</columns>
										<columns class="show-for-large" small="1" large="2">&nbsp;</columns>
										
									</row>
									</center>
									<spacer size="16"></spacer>
									<hr>
								</div>
							</columns>
						</row>

						<row>
							<columns>

								<div class="poll-body">
									<h2><div class="header_center">Я читаю в приложении на планшете/смартфоне:</div></h2>
									<p class="text-center"><small>(кликните на подходящий вариант)</small></p>
								</div>

							</columns>
						</row>

						<row>
							<columns>
								<div class="poll-body">
									<center>
									<row>
										
										<columns class="show-for-large" small="1" large="2">&nbsp;</columns>
										<columns small="4" large="2">
											<a target="_blank" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=yandex"><img src="http://www.esky.ru/upload/image/email/2017/20170421/assets/img/yandex.png" alt="Приложение Yandex.Почта для iPhone / Android / WP"></a>
											<p class="text-center small"><small>Я.Почта</small></p>
										</columns>
										<columns class="show-for-large" small="1" large="1">&nbsp;</columns>
										<columns small="4" large="2">
											<a target="_blank" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=mailru"><img src="http://www.esky.ru/upload/image/email/2017/20170421/assets/img/mailru.png" alt="Приложение Mail.Ru для iPhone / Android / WP"></a>
											<p class="text-center small"><small>Mail.Ru</small></p>
										</columns>
										<columns class="show-for-large" small="1" large="1">&nbsp;</columns>
										<columns small="4" large="2">
											<a target="_blank" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=gmail"><img src="http://www.esky.ru/upload/image/email/2017/20170421/assets/img/gmail.png" alt="Приложение Gmail для iPhone / Android / WP"></a>
											<p class="text-center small"><small>Gmail</small></p>
										</columns>
										<columns class="show-for-large" small="1" large="2">&nbsp;</columns>								
										
									</row>
									</center>
									<spacer size="16"></spacer>
									<center>
									<row>
										
										<columns class="show-for-large" small="1" large="2">&nbsp;</columns>
										<columns small="4" large="2">
											<a target="_blank" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=outlook"><img src="http://www.esky.ru/upload/image/email/2017/20170421/assets/img/outlook.png" alt="Приложение Outlook для iPhone / Android / WP"></a>
											<p class="text-center small"><small>Outlook</small></p>
										</columns>
										<columns class="show-for-large" small="1" large="1">&nbsp;</columns>
										<columns small="4" large="2">
											<a target="_blank" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=androidmail"><img src="http://www.esky.ru/upload/image/email/2017/20170421/assets/img/androidmail.png" alt="Приложение Почта для Android"></a>
											<p class="text-center small"><small>Почта для Android</small></p>
										</columns>
										<columns class="show-for-large" small="1" large="1">&nbsp;</columns>
										<columns small="4" large="2">
											<a target="_blank" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=iosmail"><img src="http://www.esky.ru/upload/image/email/2017/20170421/assets/img/iosmail.png" alt="Приложение Почта для iPhone"></a>
											<p class="text-center small"><small>Apple Mail</small></p>
										</columns>
										<columns class="show-for-large" small="1" large="2">&nbsp;</columns>
										
									</row>
									</center>
									<spacer size="16"></spacer>
									<hr>
									<spacer size="24"></spacer>

								</div>
							</columns>
						</row>

						<row>
							<columns>
								<div class="poll-body-last">
								<center>
									<button class="secondary expanded rounded" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=other">нет, по-другому</button>
									<spacer size="8"></spacer>
									<button class="secondary expanded rounded" href="http://esky.ru/campaigns/email/20170421/?rr_setemail={{{{raw}}}}{{Email}}{{{{/raw}}}}&rrsd_app=none">не знаю</button>
									<spacer size="16"></spacer>
									<h2><div class="header_center">Спасибо!</div></h2>
								</center>			
								</div>
							</columns>
						</row>
						<spacer size="32"></spacer>
					</container>
				</wrapper>
			</div>
		</container>
	</wrapper>
</div>